@charset "utf-8";
@font-face
{font-family:Arvo;
src:url(../fonts/Arvo-Regular.ttf)
}
/* CSS Document */
*{margin:0 auto;
padding:0;
}
@font-face{
	font-family:open;
	src: url(../fonts/Roboto-Regular.ttf);}
@font-face{
	font-family:openthin;
	src: url(../fonts/Roboto-Thin.ttf);}
body{
	padding-top:50px;
	background:url(../images/wrapper_bg.png);
	min-width:1200px;
	}

#wrapper{
	width:100%;
	height:100%;
}

#header{
	z-index:1000;
	width:90%;
	border-radius:20px;
	height:125px;;
	color:#7f2d38;
	background:#000;
	font-family:openthin ;
	text-transform:uppercase;
	box-shadow:0 0 0px 10px rgba(0,0,0,0.2);
	/*border-bottom:#ff2b06 thick solid;*/
}
#header img{
	margin-top: 20px;
	margin-left: 15px;
}
#nav{
	margin-top:40px;
	z-index:1000;
	}
	
video{
	margin-left:75px;
	box-shadow:0 0 30px rgba(0,0,0,0.5);
}
#header ul{
	font-family:openthin, serif;
	font-weight:bold;
	list-style: none;
	float:right;
	position: relative;
	display: inline-table;
}

#header ul ul{
	display: none;
	background-color: #ff2b06;
	position: absolute;
	top: 30px;
}

#header ul ul li{
	float: none;
	height: 50px;
	vertical-align: central;
	border-bottom:thin white dotted;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

#header ul li:hover > ul{
display:block;
position:absolute; 
}
#header ul ul ul {
	position: relative; left:120px; top:50px;
	z-index:2000;
}
#header ul ul li{
	z-index:1020;
}
#header ul li{
	float:left;
	display:block;
}

#header a{
	opacity: 0.7;
	text-align: center;
	width: 100px;
	height: 25px;
	padding-top: 5px;
	color: #FFFFFF;
	margin-bottom: -5px;
	display: block;
	float: right;
	-webkit-transition: all 0.2s linear 0s;
	-moz-transition: all 0.2s linear 0s;
	-ms-transition: all 0.2s linear 0s;
	-o-transition: all 0.2s linear 0s;
	transition: all 0.2s linear 0s;
	
}
#header a:link {text-decoration:none;}

#header a:hover{
	color:#FFFFFF;
	opacity:1.0;
}

#header a:visited{
	color: #FFFFFF;
	background-color: #003366;
	font-family: Arvo, serif;
}

#content{
	margin-top:50px;
	width:100%;
}

#left_box{
	font-family:'open',sans-serif;
	font-size:12px;
	width:1000px;
	color:#000;
}

#post1{
	padding: 20px;
	font-family: open;
	font-size: 16px;
	text-align: center;
	line-height:30px;
}
h3#post1{
	transform:rotate(-90deg);
	-webkit-transform:rotate(-90deg);
	-ms-transform:rotate(-90deg);
	float:left;
	margin-left:-55px;
	}

#footer{
	border-top:#ff2b06 thick solid;
	margin-top:50px;
	text-align: left;
	width: 100%;
	height: auto;
	padding-top: 20px;
	padding-bottom: 40px;
	font-family: 'open', serif;
	font-size: 14px;
	color: #FFFFFF;
	background:#000;
	overflow:hidden;
}

#header ul ul li:hover {
	box-shadow:0px 0px 50px  #990000 inset;

}
::selection{
	background:#ff2b06;
	color:white;}
	
::-webkit-selection{
	background:#ff2b06;
	color:white;}
	
::-moz-selection{
	background:#ff2b06;
	color:white;}
hr {
  border:dashed #fff; border-width:1px 0 0 0; height:0;line-height:0px;font-size:0; width:80%;
}
hr.about {
  border:dashed #000 1px; border-width:1px 0 0 0; height:0;line-height:0px;font-size:0;margin-top:20px; width:70%;
}

.speakerImgL{
	clear: both;
	float:left;
	width: 150px;
	height:200px;
	border: 3px solid #ff2b06;
	border-radius:50%;
		-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.speakerImgL:hover{
	-webkit-filter:blur(3px) grayscale(100%);
	-moz-filter:blur(3px) grayscale(100%);
	filter:blur(3px) grayscale(100%);
}
.speakerContL{
	float: left;
	margin-left: 30px;
}

.speakerContR{
	float: right;
	margin-right: 30px;
}
.speakerImgR{
	
	clear: both;
	float:right;
	border-radius:50%;
	width: 150px;
	height:200px;
	border: 3px solid #ff2b06;
		-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.speakerImgR:hover{
	-webkit-filter:blur(3px) grayscale(100%);
	-moz-filter:blur(3px) grayscale(100%);
	filter:blur(3px) grayscale(100%);

	
}
.speakerDiv{
	clear: both;
	float: left;
	margin-top: 30px;
	width: 930px;
	padding-bottom: 30px;
	border-bottom: 1px dashed #aaa;
}

.speakerName{
	float:left;
	font-weight: bold;
	font-size: 18px;
	color: #333;
}

.speakerBio{     
	clear: both;     
	float: left;     
	margin-top: 20px;
	width: 700px;
    margin-right: 20px;
    line-height: 20px;
    font-size:14px;
    text-shadow: 1px 1px #ddd;
    text-align: justify; 
}
.red{
	color:#ff2b06;
	}
#header a:hover {
	-webkit-opacity: 1.0;
	-moz-opacity: 1.0;
	opacity: 1.0;
}
section
{
	float:left;
	display:inline-block;
	margin-left:4%;
	width:20%;
	text-align:justify;
	overflow:hidden;
}

section a{
	text-decoration:none;
	color:#fff;
	opacity:0.7;
}
section a:hover{
	opacity:1.0;
}
.partnerImg{
	margin:20px 20px;
	opacity:0.7;
}
.partnerImg:hover{
	opacity:1.0;
}
.headings{
	color:#000;font-size:48px; font-family:openthin;}
	
section.desc
{
	float:left;
	display:inline-block;
	background:rgba(255,255,255,0.5);
	padding:10px;
	margin-left:4%;
	margin-bottom:20px;
	width:27%;
	height:210px;
	text-align:justify;
	font-size:14px;
	overflow:hidden;
}
section.desc:hover, section.desc:active, section.desc:focus  
{
	background:rgba(255,255,255,0.8);
	outline:#f30 dashed 2px;
	outline-offset:-5px;
	
}